﻿@{
    ViewBag.Title = "HUD Healthcare Portal is Offline";
}

<h2 style="text-align:center;font-weight:bold;color:#e80c4d;">Sorry, HUD Healthcare Portal is offline for maintenance.</h2>
<br/>
<h3 style="text-align:center;font-weight:bold;color:#e80c4d;">Please log back in later.</h3>
