﻿
<style type="text/css">

	/*.table1 {
		width: 100%;
		margin-bottom: 20px;
	}

	.table1 > thead > tr > th,
	.table1 > tbody > tr > th,
	.table1 > tfoot > tr > th,
	.table1 > thead > tr > td,
	.table1 > tbody > tr > td,
	.table1 > tfoot > tr > td {
		padding: 5px;
		line-height: 1.428571429;
		vertical-align: top;
		border-top: 1px solid #ddd;
	}

	.table1 > thead > tr > th {
		vertical-align: bottom;
		border-bottom: 2px solid #ddd;
	}

	.table1 > caption + thead > tr:first-child > th,
	.table1 > colgroup + thead > tr:first-child > th,
	.table1 > thead:first-child > tr:first-child > th,
	.table1 > caption + thead > tr:first-child > td,
	.table1 > colgroup + thead > tr:first-child > td,
	.table1 > thead:first-child > tr:first-child > td {
		border-top: 0;
	}

	.table1 > tbody + tbody {
		border-top: 2px solid #ddd;
	}

	.table .table1 {
		background-color: #fff;
	}*/

	.table-striped > tbody > tr:nth-child(odd) > td,
	.table-striped > tbody > tr:nth-child(odd) > th {
		background-color: #d9edf7;
	}

	.table {
		font-family: Arial;
		font-size: 12px;
		font-weight: bold;
	}

	.table-curved {
		border-collapse: separate;
		border: solid #ddd 1px;
		border-radius: 8px;
		border-left: 0px;
		border-top: 0px;
	}



		.table-curved > thead:first-child > tr:first-child > th {
			border-bottom: 0px;
			border-top: solid #ddd 1px;
		}

		.table-curved td, .table-curved th {
			border-left: 1px solid #ddd;
			border-top: 1px solid #ddd;
		}

		.table-curved > :first-child > :first-child > :first-child {
			border-top-left-radius: 8px;
		}

		.table-curved > :first-child > :first-child > :last-child {
			border-top-right-radius: 8px;
		}

		.table-curved > :last-child > :last-child > :first-child {
			border-bottom-left-radius: 8px;
		}

		.table-curved > :last-child > :last-child > :last-child {
			border-bottom-right-radius: 8px;
		}

	.trThickBorder {
		outline: thin solid black;
	}
</style>
<div id="dialog1" title="Summary"></div>
<div>
	<p style="color:#428bca; text-align:center; font-size:20px;"><strong>Project Status Report As of : @Model.ReportDate</strong></p>
	@*<table class="table table-striped table-curved table-condensed">
				<tr>
					<td  style ="height:10px; " colspan="8"><p style="color:#428bca; text-align:center; font-size:20px;"><strong>Project Status Report As of : @Model.ReportDate</strong></p></td>
				</tr>
		</table>*@
	<table class="table table-curved ">
		<tr style="background-color:#DCDDE1; ">
			@*D9EDF7*@
			<td colspan="8" style="text-align:center;font-size:15px;color:#428BCA;"><strong>Loan Type Count</strong></td>
		</tr>
		<tr>
			<td style="text-align:right;" class="report">Purchase/Refinance 223(f)</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="Purchase/Refinance 223(f)">@Model.TotalNumberOf223f</td>
			<td style=" text-align:right;">Refinance 223 (a)(7)</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="Refinance 223(a)(7)">@Model.TotalNumberOf223a7</td>
			<td style=" text-align:right;">OLL 223(d)</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="OLL 223(d)">@Model.TotalNumberOf223d</td>
			<td style=" text-align:right;">Fire Safety 223(i)</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="Fire Safety 223(i)">@Model.TotalNumberOf223i</td>
		</tr>
		<tr>
			<td style=" text-align:right;">Construction 241(a)</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="Construction 241(a)">@Model.TotalNumberOf241a</td>
			<td style=" text-align:right;">Construction NC</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="Construction NC">@Model.TotalNumberOfNC</td>
			<td style=" text-align:right;">Construction SR</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="Construction SR">@Model.TotalNumberOfSR</td>
			<td style=" text-align:right;">IRR</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="IRR">@Model.TotalNumberOfIRR</td>
		</tr>
		<tr class="trThickBorder">
			<td style=" text-align:right;">Total FY Count</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="LoansFY">@Model.TotalNumberOfFY</td>
			<td style=" text-align:right;">Total Loans Opened</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="LoansOpened">@Model.LoanOpened</td>
			<td style=" text-align:right;">Total Loans Completed</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="LoansCompleted">@Model.TotalClosing</td>
			<td style=" text-align:right;">Total Loan Count</td>
			<td style=" text-align:center; background-color:#428BCA;" class="model" data-info="TotLoans">@Model.TotalNumberOfProjects</td>
		</tr>
		<tr style="background-color:#DCDDE1">
			<td colspan="8" style="text-align:center;font-size:15px;color:#428BCA;"><strong>FHA Number Process</strong></td>
		</tr>
		<tr>
			<td style=" text-align:right;">FHA Number InQueue</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="FHANumberInQueue">@Model.TotalFHAInqueue</td>
			<td style=" text-align:right;">FHA Number InProcess</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="FHANumberInProcess18">@Model.TotalFHAInprocess</td>
			<td style=" text-align:right;">FHA Number Complete</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="FHANumberComplete19">@Model.TotalFHAComplete</td>
		</tr>
		<tr style="background-color:#DCDDE1">
			<td colspan="8" style="text-align:center;font-size:15px;color:#428BCA;"><strong>Application Process</strong></td>
		</tr>
		<tr>
			<td style=" text-align:right;">Awaiting Lender Application Submission </td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="AwaitingLenderApplicationSubmission19">@Model.TotalWaitingApplication</td>
			<td style=" text-align:right;">Application InQueue</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="ApplicationInQueue">@Model.TotalApplicationInqueue</td>
			<td style=" text-align:right;">Application InProcess</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="ApplicationInProcess18">@Model.TotalApplicationInprocess</td>
			<td style=" text-align:right;">Application Firm Issued</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="ApplicationFirmIssued19">@Model.TotalApplicationComplete</td>
		</tr>
		<tr style="background-color:#DCDDE1">
			<td colspan="8" style="text-align:center;font-size:15px;color:#428BCA;"><strong>Technical Reviews</strong></td>
		</tr>

		<tr>
			<td style=" text-align:right;">Appraiser Assigned</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="Appraiser Assigned">@Model.TotalAppraiserAssigned</td>
			<td style=" text-align:right;">Environmentalist Assigned</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="Environmentalist Assigned">@Model.TotalEnvironmentalistAssigned</td>
			<td style=" text-align:right;">Title and Survey Assigned</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="Title and Survey Assigned">@Model.TotalTitleSurveyAssigned</td>
			<td style=" text-align:right;">Appraiser Site Visit</td>
			<td style=" text-align:center;background-color:#428BCA;">0</td>
		</tr>

		<tr style="background-color:#DCDDE1">
			<td colspan="8" style="text-align:center;font-size:15px;color:#428BCA;"><strong>Initial Closing Process</strong></td>
		</tr>
		<tr>
			<td style=" text-align:right;">Awaiting Lender Closing Submission </td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="AwaitingLenderClosingSubmission19">@Model.TotalWaitingClosing</td>
			<td style=" text-align:right;">Closing InQueue</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="ClosingInQueue">@Model.TotalClosingInqueue</td>
			<td style=" text-align:right;">Closing InProcess</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="ClosingInProcess18">@Model.TotalClosingInprocess</td>
			<td style=" text-align:right;">Initial Closing - Complete</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="ClosingComplete19">@Model.TotalClosingComplete</td>
		</tr>
		<tr style="background-color:#DCDDE1">
			<td colspan="8" style="text-align:center;font-size:15px;color:#428BCA;"><strong>Final Closing Process</strong></td>
		</tr>
		<tr>
			<td style=" text-align:right;">290 Assigned</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="290 Assigned">@Model.Total290Assigned</td>
			<td style=" text-align:right;">290 Complete</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="290 Complete">@Model.Total290Complete</td>
			<td style=" text-align:right;">Closing - Executed Documents Uploaded</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="Closing - Executed Documents Uploaded">@Model.TotalExecutedDocUploaded</td>
			<td style=" text-align:right;"></td>
		</tr>
		<tr style="background-color:#DCDDE1">
			<td colspan="8" style="text-align:center;font-size:15px;color:#428BCA;"><strong>Amendments</strong></td>
		</tr>
		<tr>
			<td style=" text-align:right;">InQueue</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="AmendmentInqueue">@Model.AmendmentInqueue</td>
			<td style=" text-align:right;">Opened</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="AmendmentInProcess18">@Model.AmendmentInProcess</td>
			<td style=" text-align:right;">Closed</td>
			<td style=" text-align:center;background-color:#428BCA;" class="model" data-info="AmendmentComplete19">@Model.AmendmentComplete</td>
			<td style=" text-align:right;"></td>
		</tr>
	</table>
</div>
<!--Below is the modal-->
<div class="modal" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Summary</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				@*@Html.Partial("~/Views/ManagementReport/PAMReports/_ProdPamStatusPopup.cshtml")*@
				<div id="div_myPam" style="width:1400px;">
					<table id="grid1"></table>
					<div id="pager"></div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<script type='text/javascript'>
  $(function () {
      $( "#dialog1" ).dialog({
        autoOpen: false
      });

      $('.model').on('click', function () {
          var valueCell = $(this).attr("data-info");
		  $.get('@Url.Action("PamStatusPopup", "ProdPam")', { pFilterType: valueCell }, function (partialView) {
			  $("#dialog1").html(partialView);
        });
       $("#dialog1").dialog('open');
      });

  });
    function navigate(target) {
        //Grab your values
        var loanType = 'Purchase/Refinance 223(f)';
        //Perform your navigation
        window.location.href = target + '?LoanType=' + loanType;
    }
    //first
    $('._model1').on('click', function () {
        var valueCell = $(this).attr("data-info");
        alert(valueCell);
        //$('#myModal').modal('show', function () {
            alert(valueCell);
           $("#grid1").jqGrid({
                url: '@Url.Action("GetPAMReportResultsV3", "ProdPAM")',
                datatype: "json",
                height: 300,
                //width: 1450,
                colNames: ['Project Name', 'FHA#'],
                colModel: [
                    {
                        name: "ProjectName", index: "ProjectName", width: 130,

                    },
                    {
                        name: "FhaNumber", index: "FhaNumber", width: 80,

                    },
                ],
                pager: $("#pager"),
                rowNum: 50,
                rowList: [50, 60, 70, 80, 100],
                rownumbers: true,
                loadonce: true,
                viewrecords: true,
                autowidth: false,
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id",
                    subgrid: {
                        root: "rows",
                        repeatitems: true,
                        cell: "cell"
                    }
                }
            });
        //});
           $('#myModal').modal('show');
    });



</script>