﻿@model Model.Production.Prod_EmailToLenderModel
@{
    Layout = null;
}
<style type="text/css">
    .well {
        background: #d9edf7;
    }
    .close {
    opacity: 100;
}
</style>
<div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">


        <div class="modal-header">
            <button type="button" class="close" style="color:red"  data-dismiss="modal" aria-hidden="true">×</button>
            <h4 id="myModalLabel">Send Email to HUD Production Users</h4>
            <p id="message"></p>
        </div>
        @Html.HiddenFor(m => m.TaskInstanceID)
        @using (Html.BeginForm("EmailToProdUsers", "ProductionApplication", FormMethod.Post, new { @class = "modal-form", id = "myForm1" }))
        {
            
             
            <div class="modal-body form-horizontal " >              
                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label">To:</label>
                        <div class="col-md-8">
                          
                            @Html.ListBoxFor(m=>m.CCEmails, Model.CCToEmailList, new { @class = "form-control" })

                        </div>
                    </div>


                </div>
                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label">CC :</label>
                        <div class="col-md-8">

                            @Html.TextBoxFor(m => m.OtherEmails, null, new {@class = "form-control"})
                            @*@Html.ListBoxFor(m=>m.CCEmail, Model.CCToEmailList, new { @class = "form-control" })*@

                        </div>
                    </div>


                </div>
                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-md-12 control-label"><small>Multiple email addresses can be entered separated by semicolon</small></label>
                        
                    </div>


                </div>
                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label">Email Template</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.EmailTemplateId, Model.Emailtemplate,"Select email template", new { @class = "form-control" })
                           

                        </div>
                    </div>


                </div>

            </div>

            <div class="modal-footer">
                <div class="col-sm-1 form-group pull-left">

                </div>

                <button class="btn btn-primary" type="submit">Send</button>
                <button class="btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>

            </div>
        }
    </div>
    <!-- /.modal-content -->
</div>
<script type="text/javascript">
       
   
   $("#myForm1").submit(function (e) {
       debugger;
       e.preventDefault();
       var CCOthers = $('#OtherEmails').val();
       var options = new Array();
       var CCEmailList = new Array();
       $('#CCEmails> option:selected').each(
            function (i) {
                options[i] = $(this).val();
            });
       if (CCOthers.trim()) {
           var arr = CCOthers.split(';');
           var i;
           for (i = 0; i < arr.length; ++i) {

               var filter = /^[\w\-\.\+]+\@@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;
               if (filter.test(arr[i])) {
                   CCEmailList.push(arr[i]);
               }
               else {
                   alert("Please enter valid email address.");
                   return false;

               }
           }

       }
       if (!($("#EmailTemplateId").val())) {
           alert("Please select email template to continue.");
           return false;
       }
       var ccemails = "";
       if (options.length > 0) {
           ccemails = options.toString();
       }
       else {
           alert("Please select at least one production user to send an email!");
           return false;
       }
      
       
       var url = '@Url.Action("EmailToProdUsers", "ProductionApplication")';
       $.ajax({
           url: url,
           type: 'POST',
           data: { taskInstanceID: $("#TaskInstanceID").val(), ToEmail: ccemails, CCEmails: CCEmailList.toString(), template: $("#EmailTemplateId").val() },
           success: function (result) {

               show_message(result);

           },
           //error: function (data) {
           //    alert("Error in sending email.");
           //},

       });
      
       var show_message = function (message) {
           if (message == 'true')
               alert("Email has been sent successfully.");
              // message = 'Email has been sent successfully.'
           else if (message == 'false')
               alert("There was an error send this email.");
           //message = 'There was an error send this email.'
           else alert(message);
          // $("#errorMsg")
             //  .text(message)
              // .css('display', 'block');
              
          
       }


   });

</script>