﻿@using Model
@model Model.YearQuarterModel
<style type="text/css">
    .oddRow {
        text-align: left;
    }

    .evenRow {
        background-color: #E4E9F5;
        color: #000;
        text-align: left;
    }

    .header {
        background-color: #C1D4E6;
        font-weight: bold;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnYearQuarterGo").click(function() {
            var yearValue = $('#yearsList').val();
            var quarterValue = $('#quartersList').val();
            var qrtToken = yearValue + quarterValue;
            //debugger;
            angular.element(document.getElementById('dvPortfolio')).scope().load(qrtToken);
            return false;
        });
    });
</script>
<div id="dvPortfolio" ng-app="portfolioSummaryModule" ng-controller="portfolioSummaryModuleCtrl">
    @Html.Partial("_YearQuarter", (YearQuarterModel)ViewBag.YearQuarter)
    @*<table class="table table-bordered" style="height:490px;width:1260px;" fixed-header>*@
    <table class="table table-bordered">
        <thead class="header">
            <tr style="width:100%;" class="header">
                <th></th>
                <th ng-click="setOrderBy('Portfolio_Name')">Portfolio Name<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'Portfolio_Name'"></i></th>
                <th ng-click="setOrderBy('Portfolio_Count')">Portfolio Count<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'Portfolio_Count'"></i></th>
                <th ng-click="setOrderBy('ScoreTotal')">Score<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'ScoreTotal'"></i></th>
                <th ng-click="setOrderBy('UnitsInFacility')">Units In Facility<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'UnitsInFacility'"></i></th>
                <th ng-click="setOrderBy('OperatingCash')">Operating Cash<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'OperatingCash'"></i></th>
                <th ng-click="setOrderBy('Investments')">Investments<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'Investments'"></i></th>
                <th ng-click="setOrderBy('ReserveForReplacementEscrowBalance')">Reserve For Replacement Escrow Balance<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'ReserveForReplacementEscrowBalance'"></i></th>
                <th ng-click="setOrderBy('AccountsReceivable')">Accounts Receivable<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'AccountsReceivable'"></i></th>
                <th ng-click="setOrderBy('CurrentAssets')">Current Assets<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'CurrentAssets'"></i></th>
                <th ng-click="setOrderBy('CurrentLiabilities')">Current Liabilities<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'CurrentLiabilities'"></i></th>
                <th ng-click="setOrderBy('TotalRevenues')">Total Revenues<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'TotalRevenues'"></i></th>
                <th ng-click="setOrderBy('RentLeaseExpense')">RentLease Expense<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'RentLeaseExpense'"></i></th>
                <th ng-click="setOrderBy('DepreciationExpense')">Depreciation Expense<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'DepreciationExpense'"></i></th>
                <th ng-click="setOrderBy('AmortizationExpense')">Amortization Expense<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'AmortizationExpense'"></i></th>
                <th ng-click="setOrderBy('TotalExpenses')">Total Expenses<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'TotalExpenses'"></i></th>
                <th ng-click="setOrderBy('NetIncome')">Net Income<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'NetIncome'"></i></th>
                <th ng-click="setOrderBy('ReserveForReplacementDeposit')">Reserve For Replacement Deposit<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'ReserveForReplacementDeposit'"></i></th>
                <th ng-click="setOrderBy('FHAInsuredPrincipalPayment')">FHAInsured Principal Payment<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'FHAInsuredPrincipalPayment'"></i></th>
                <th ng-click="setOrderBy('FHAInsuredInterestPayment')">FHAInsured Interest Payment<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'FHAInsuredInterestPayment'"></i></th>
                <th ng-click="setOrderBy('MortgageInsurancePremium')">Mortgage Insurance Premium<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'MortgageInsurancePremium'"></i></th>
                <th ng-click="setOrderBy('ReserveForReplacementBalancePerUnit')">Reserve For Replacement Balance Per Unit<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'ReserveForReplacementBalancePerUnit'"></i></th>
                <th ng-click="setOrderBy('DebtCoverageRatio')">Debt Service Coverage Ratio<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'DebtCoverageRatio'"></i></th>
                <th ng-click="setOrderBy('DaysCashOnHand')">Days Cash On Hand<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'DaysCashOnHand'"></i></th>
                <th ng-click="setOrderBy('DaysInAcctReceivable')">Days In Account Receivable<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'DaysInAcctReceivable'"></i></th>
                <th ng-click="setOrderBy('AvgPaymentPeriod')">Average Payment Period<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'AvgPaymentPeriod'"></i></th>
                <th ng-click="setOrderBy('DebtCoverageRatioScore')">Debt Coverage Ratio Score<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'DebtCoverageRatioScore'"></i></th>
                <th ng-click="setOrderBy('WorkingCapitalScore')">Working Capital Score<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'WorkingCapitalScore'"></i></th>
                <th ng-click="setOrderBy('DaysCashOnHandScore')">Days Cash On Hand Score<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'DaysCashOnHandScore'"></i></th>
                <th ng-click="setOrderBy('DaysInAcctReceivableScore')">Days In Account Receivable Score<i class="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'DaysInAcctReceivableScore'"></i></th>
                <th ng-click="setOrderBy('AvgPaymentPeriodScore')">Average Payment Period Score<i classjson(portfolios, jsonrequestbehavior.allowget)="glyphicon" ng-class="{'glyphicon-arrow-up': orderBy.asc, 'glyphicon-arrow-down': !orderBy.asc}" ng-show="orderBy.field == 'AvgPaymentPeriodScore'"></i></th>
            </tr>
        </thead>
        <tbody>
            @*<tr ng-repeat-start="portfolio in Portfolios track by $index | orderBy:orderBy.field:!orderBy.asc" ng-class-odd="'oddRow'" ng-class-even="'evenRow'">*@
            <tr ng-repeat-start="portfolio in Portfolios | orderBy:orderBy.field:!orderBy.asc" ng-class-odd="'oddRow'" ng-class-even="'evenRow'">
                <td>
                    <i class="btn btn-default glyphicon glyphicon-plus" ng-hide="portfolio.isSubMode" ng-click="toggleSubMode(portfolio)"></i>
                    <i class="btn btn-default glyphicon glyphicon-minus" ng-show="portfolio.isSubMode" ng-click="toggleSubMode(portfolio)"></i>
                    <input type="hidden" name="portfolioId" value="{{portfolio.Portfolio_Number}}" />
                </td>
                <td>
                    {{portfolio.Portfolio_Name}}
                </td>
                <td>
                    {{portfolio.Portfolio_Count}}
                </td>
                <td ng-style="{ 'background-color': scoreStyle(detail.ScoreTotal)}">
                    {{portfolio.ScoreTotal}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.UnitsInFacility}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.OperatingCash}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.Investments}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.ReserveForReplacementEscrowBalance}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.AccountsReceivable}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.CurrentAssets}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.CurrentLiabilities}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.TotalRevenues}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.RentLeaseExpense}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.DepreciationExpense}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.AmortizationExpense}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.TotalExpenses}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.NetIncome}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.ReserveForReplacementDeposit}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.FHAInsuredPrincipalPayment}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.FHAInsuredInterestPayment}}
                </td>
                <td>
                    {{portfolio.IsPortfolioNoData ? "" : portfolio.MortgageInsurancePremium}}
                </td>
                <td>
                    {{portfolio.ReserveForReplacementBalancePerUnit}}
                </td>
                <td>
                    {{portfolio.DebtCoverageRatio}}
                </td>
                <td>
                    {{portfolio.DaysCashOnHand}}
                </td>
                <td>
                    {{portfolio.DaysInAcctReceivable}}
                </td>
                <td>
                    {{portfolio.AvgPaymentPeriod}}
                </td>
                <td>
                    {{portfolio.DebtCoverageRatioScore}}
                </td>
                <td>
                    {{portfolio.WorkingCapitalScore}}
                </td>
                <td>
                    {{portfolio.DaysCashOnHandScore}}
                </td>
                <td>
                    {{portfolio.DaysInAcctReceivableScore}}
                </td>
                <td>
                    {{portfolio.AvgPaymentPeriodScore}}
                </td>
            </tr>
            <tr ng-show="portfolio.isSubMode" ng-repeat-end>
                <td colspan="36">
                    <table class="table table-bordered" style="position:relative;left:50px;" fixed-header>
                        <thead class="header" style="width:100%;">
                            <tr style="width:100%;" class="header">
                                <th>Project Name</th>
                                <th>Servicer Name</th>
                                <th>Score</th>
                                <th>Operator/Owner</th>
                                <th>Financial Statement Type</th>
                                <th>Units in Facility</th>
                                <th>Period Ending</th>
                                <th>Months In Period</th>
                                <th>FHA Number</th>
                                <th>Operating Cash</th>
                                <th>Investments</th>
                                <th>RFR Escrow Balance</th>
                                <th>Accounts Receivable</th>
                                <th>Current Assets</th>
                                <th>Current Liabilities</th>
                                <th>Total Revenues</th>
                                <th>RentLease Expense</th>
                                <th>Depreciation Expense</th>
                                <th>Amortization Expense</th>
                                <th>Total Expenses</th>
                                <th>Net Income</th>
                                <th>Reserve for Replacement Deposit</th>
                                <th>FHA Insured Principal Payment</th>
                                <th>FHA Insured Interest Payment</th>
                                <th>Mortgage Insurance Premium (MIP)</th>
                                <th>Reserve for Replacement Balance per unit</th>
                                <th>Debt Service Coverage Ratio</th>
                                <th>Working Capital</th>
                                <th>Days Cash On Hand</th>
                                <th>Days in Accounts Receivable</th>
                                <th>Average Payment Period</th>
                                <th>Debt Coverage Ratio Score</th>
                                <th>Working Capital Score</th>
                                <th>Days Cash on Hand Score</th>
                                <th>Days in Accounts Receivable Score</th>
                                <th>Average Payment Period Score</th>
                            </tr>
                        </thead>
                        <tbody style="height:auto !important;">
                            @*<tr ng-repeat="detail in portfolio.Details track by $index" ng-class-odd="'oddRow'" ng-class-even="'evenRow'">*@
                            <tr ng-repeat="detail in portfolio.Details" ng-class-odd="'oddRow'" ng-class-even="'evenRow'">
                                <td>
                                    {{detail.ProjectName}}
                                </td>
                                <td>
                                    {{detail.ServiceName}}
                                </td>
                                <td ng-style="{ 'background-color': scoreStyle(detail.ScoreTotal)}">
                                    {{detail.ScoreTotal}}
                                </td>
                                <td>
                                    {{detail.OperatorOwner}}
                                </td>
                                <td>
                                    {{detail.FinancialStatementType}}
                                </td>
                                <td>
                                    {{detail.UnitsInFacility}}
                                </td>
                                <td>
                                    {{detail.PeriodEnding | dateToISO | date:'shortDate'}}
                                </td>
                                <td>
                                    {{detail.MonthsInPeriod}}
                                </td>
                                <td>
                                    {{detail.FHANumber}}
                                </td>
                                <td>
                                    {{detail.OperatingCash}}
                                </td>
                                <td>
                                    {{detail.Investments}}
                                </td>
                                <td>
                                    {{detail.ReserveForReplacementEscrowBalance}}
                                </td>
                                <td>
                                    {{detail.AccountsReceivable}}
                                </td>
                                <td>
                                    {{detail.CurrentAssets}}
                                </td>
                                <td>
                                    {{detail.CurrentLiabilities}}
                                </td>
                                <td>
                                    {{detail.TotalRevenues}}
                                </td>
                                <td>
                                    {{detail.RentLeaseExpense}}
                                </td>
                                <td>
                                    {{detail.DepreciationExpense}}
                                </td>
                                <td>
                                    {{detail.AmortizationExpense}}
                                </td>
                                <td>
                                    {{detail.TotalExpenses}}
                                </td>
                                <td>
                                    {{detail.NetIncome}}
                                </td>
                                <td>
                                    {{detail.ReserveForReplacementDeposit}}
                                </td>
                                <td>
                                    {{detail.FHAInsuredPrincipalPayment}}
                                </td>
                                <td>
                                    {{detail.FHAInsuredInterestPayment}}
                                </td>
                                <td>
                                    {{detail.MortgageInsurancePremium}}
                                </td>
                                <td>
                                    {{detail.ReserveForReplacementBalancePerUnit}}
                                </td>
                                <td>
                                    {{detail.DebtCoverageRatio}}
                                </td>
                                <td>
                                    {{detail.WorkingCapital}}
                                </td>
                                <td>
                                    {{detail.DaysCashOnHand}}
                                </td>
                                <td>
                                    {{detail.DaysInAcctReceivable}}
                                </td>
                                <td>
                                    {{detail.AvgPaymentPeriod}}
                                </td>
                                <td>
                                    {{detail.DebtCoverageRatioScore}}
                                </td>
                                <td>
                                    {{detail.WorkingCapitalScore}}
                                </td>
                                <td>
                                    {{detail.DaysCashOnHandScore}}
                                </td>
                                <td>
                                    {{detail.DaysInAcctReceivableScore}}
                                </td>
                                <td>
                                    {{detail.AvgPaymentPeriodScore}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/App/app.js"></script>
<script src="~/Scripts/App/Directives/fixedHeader.js"></script>
<script src="~/Scripts/App/Services/portfolioSummaryModuleSvc.js"></script>
<script src="~/Scripts/App/Filters/myDirectives.js"></script>
<script src="~/Scripts/App/Controllers/portfolioSummaryModuleCtrl.js"></script>


