﻿@using Core
@model Model.ReportModel
@{
    ViewBag.Title = "SuperUserMissingReportDetail";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#yearList").change(function () {
            var url = '@Url.Action("GetSuperUserMissingProjectForYear", "MissingProjectReport")';
            var selectedYear = $("#yearList").val();
            $("#year").val(selectedYear);
           $.ajax({
                url : url,
                data: { year: selectedYear },
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                cache: false,
                success: function (data) {
                    {
                        $("#dvSuperUserReport").html('');
                        $("#dvSuperUserReport").html(data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                }
            });
            return false;
           
        });
    });

</script>
<div class="container-fluid">
    <div class="row">
        <div class="row" style="margin-left: 0px; margin-right: 0px;">
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-left">
                        @Html.Label("Report Name: ")
                    </span>
                    <span class="col-md-4">
                        @Html.DisplayName(EnumType.GetEnumDescription(Model.ReportHeaderModel.ReportType))
                    </span>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-left">
                        @Html.Label("Report Generated as of: ")
                    </span>
                    <span class="col-md-4">
                        @DateTime.Today.AddDays(-1).ToShortDateString()
                    </span>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-left">
                        @Html.Label("Select Report Year: ")
                    </span>
                    <span class="col-md-4">
                        @Html.EnumDropDownListFor(m => m.ReportHeaderModel.ReportYear, new { @id = "yearList" })
                        @Html.HiddenFor(m => m.ReportHeaderModel.ReportYear, new { @id = "year" })
                    </span>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div id="dvSuperUserReport" class="col-md-8">
            @Html.Partial("~/Views/ManagementReport/MissingProject/_SuperUserReport.cshtml", Model)
        </div>
    </div>
    </div>
