﻿@using System.Web.Mvc.Html
@model HUDHealthcarePortal.Model.AssetManagement.ReserveForReplacementFormModel

@{
	ViewBag.Title = "";
}
<script type="text/javascript" src="/Scripts/autoNumeric.js"></script>
<link href="../../Content/formUpload.css" rel="stylesheet">
<style type="text/css">
	span.error {
		color: #e80c4d;
		font-weight: bold;
	}
</style>
<script type="text/javascript">
	$(document).ready(function(){

			$('#txtReserveAccountBalance').autoNumeric('init', { vMin: 0, mDec: 2 });
			$('#txtReserveAccountBalanceConfirm').autoNumeric('init', { vMin: 0, mDec: 2 });
			$('#txtPurchaseAmount').autoNumeric('init', { vMin: 0, mDec: 2 });
			$('#txtRequestedAmount').autoNumeric('init', { vMin: 0, mDec: 2 });
			$('#txtApprovedAmount').autoNumeric('init', { vMin: 0, mDec: 2 });


			if ('@Model.IsLoggedInUserLender' == 'True') {
				document.getElementById("servicerRemarks").style.display = 'block';
				if ('@Model.IsHudRemarks' === 'false') {
				document.getElementById("hudRemarks").style.display = 'none';
				document.getElementById("addnRemarks").style.display = 'none';
				} else {
				document.getElementById("hudRemarks").style.display = 'block';
				document.getElementById("addnRemarks").style.display = 'block';
				}
			}
			else
			{
				document.getElementById("servicerRemarks").style.display = 'block';
				document.getElementById("hudRemarks").style.display = 'block';
				document.getElementById("addnRemarks").style.display = 'block';
			}

				@*var attachmentValue = '@Model.AttachmentsDescription';
					if (attachmentValue.length == 0) {
						document.getElementById("descriptionYes").style.display = 'none';
						document.getElementById("descriptionNo").style.display = 'block';
					} else {
						document.getElementById("descriptionYes").style.display = 'block';
						document.getElementById("descriptionNo").style.display = 'none';
					}*@

	});
				
</script>

<section id="r4rform" style="width:1200px;height:1150px;">

	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">   </span>
			@if (Model.RequestStatus == 6)
			{
				<h4 style="text-align:center;"><b>Reserve for Replacement Submission Form </b></h4>
			}
			else if (Model.RequestStatus == 1)
			{
				<h4 style="text-align:center;"><b>Reserve for Replacement Submission Form (Open)</b></h4>
			}
			else if (Model.RequestStatus == 2)
			{
				<h4 style="text-align:center;"><b>Reserve for Replacement Submission Form (Approved)</b></h4>
			}

			else if (Model.RequestStatus == 5)
			{
				<h4 style="text-align:center;"><b>Reserve for Replacement Submission Form (Denied)</b></h4>
			}

			else if (Model.RequestStatus == 7)
			{
				<h4 style="text-align:center;"><b>Reserve for Replacement Submission Form (Read Only)</b></h4>
			}

		</div>
	</div>



	@*<h4 style="text-align:center;"><b>Reserve for Replacement Submission Form (Read Only)</b></h4>*@
	@if (Session["Confirmation"] != null)
	{
		<h2 class="HCP_Sub_Header_Red" id="uploadError" style="text-align:center;font-weight:bold;color:#e80c4d;">
			@Html.Raw(Session["Confirmation"].ToString())
		</h2>
		Session["Confirmation"] = null;
	}

	<hr />
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-12 text-center">
				@Html.Label("Instructions: Indicate the Fund for the request and provide the information for each section as requested")
			</span>
		</div>
	</div>
	<hr />
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("Date of Borrower's Request")
			</span>
			<span class="col-md-4">
				@Html.LabelForModel(string.Format("{0:MM/dd/yyyy}", Model.BorrowersRequestDate), new { @class = "fieldLabel" })
			</span>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("Date of Servicer's Submission (Today's Date)")
			</span>
			<span class="col-md-4">
				@Html.LabelForModel(string.Format("{0:MM/dd/yyyy}", Model.ServicerSubmissionDate), new { @class = "fieldLabel" })
			</span>
		</div>
	</div>
	<hr />
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("FHA Project Number")
			</span>
			<span class="col-md-4">
				@Html.LabelForModel(Model.FHANumber ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
			</span>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("R4R Form Status")
			</span>
			<span class="col-md-4">
				@if (Model.RequestStatus == 0)
				{
					<b>Not Specified</b>
				}
				@if (Model.RequestStatus == 1 && Model.IsEligibleForAutomaticApproval == false)
				{
					<b>Pending</b>
				}

				@if (Model.RequestStatus == 2)
				{
					<b>Approved</b>
				}

				@if (Model.RequestStatus == 3)
				{
					<b>Approved With Changes</b>
				}

				@if (Model.RequestStatus == 4 && Model.IsEligibleForAutomaticApproval == true)
				{
					<b>Auto Approved</b>
				}

				@if (Model.RequestStatus == 5)
				{
					<b>Disapproved</b>
				}
				@if (Model.RequestStatus == 6)
				{
					<b>Draft</b>
				}

				@if (Model.RequestStatus == 7)
				{
					<b>Requested Additional Information</b>
				}
			</span>
		</div>
	</div>


	<hr />
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("Project Number")
			</span>
			<span class="col-md-4">
				@Html.LabelForModel(Model.PropertyId.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
			</span>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("Property Name")
			</span>
			<span class="col-md-4">
				@Html.LabelForModel(Model.PropertyName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
			</span>
		</div>
	</div>

	<hr />

	<div class="container-fluid">
		<div class="row">
			<span class="col-md-12 text-center">
				@Html.Label("Property Address:")
			</span>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("Street Address")
			</span>
			<span class="col-md-4">
				@Html.LabelForModel(Model.PropertyAddress == null ? "(None)" : Model.PropertyAddress.AddressLine1 == null ? "(None)" : Model.PropertyAddress.AddressLine1, new Dictionary<string, object>() { { "class", "fieldLabel" } })
			</span>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("City")
			</span>
			<span class="col-md-4">
				@Html.LabelForModel(Model.PropertyAddress == null ? "(None)" : Model.PropertyAddress.City == null ? "(None)" : Model.PropertyAddress.City, new Dictionary<string, object>() { { "class", "fieldLabel" } })
			</span>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("State")
			</span>
			<span class="col-md-4">
				@Html.LabelForModel(Model.PropertyAddress == null ? "(None)" : Model.PropertyAddress.StateCode == null ? "(None)" : Model.PropertyAddress.StateCode, new Dictionary<string, object>() { { "class", "fieldLabel" } })
			</span>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("Zip code")
			</span>
			<span class="col-md-4">
				@Html.LabelForModel(Model.PropertyAddress == null ? "(None)" : Model.PropertyAddress.ZIP == null ? "(None)" : Model.PropertyAddress.ZIP, new Dictionary<string, object>() { { "class", "fieldLabel" } })
			</span>
		</div>
	</div>
	<hr />
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("Is Lender Delegate?")
			</span>
			<span class=" col-md-1   text-left">
				<label>Yes</label>
			</span>
			<span class=" col-md-1   text-left">
				@Html.RadioButtonFor(m => m.IsLenderDelegate, true, new { id = "lenderDelegateYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-20px;", @disabled = true })
			</span>
			<span class="col-md-1   text-left" style="width:80px;margin-left: -70px;">
				<label>No</label>
			</span>
			<span class="col-md-1   text-left">
				@Html.RadioButtonFor(m => m.IsLenderDelegate, false, new { id = "lenderDelegateNo", @class = "rbFakeClass", @style = "width:80px;margin-left: -20px;", @disabled = true })
			</span>
		</div>
		

		@if (!Model.IsLoggedInUserLender || (Model.IsLenderDelegate == true))
		{
			<div class="container-fluid">
				<div class="row">
					<span class="col-md-4 text-right" style="width:80px;margin-left: -20px;">
						@Html.Label("Total Approved Amount")
					</span>
					<span class="col-md-4">
						@Html.LabelForModel(Model.TotalApprovedAmount.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" }, { "id", "txtApprovedAmount" } })
						@Html.ValidationMessageFor(m => m.TotalApprovedAmount)
					</span>
				</div>
			</div>
		}
		<hr />


		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-left" style="width:80px;margin-left: -20px;">
					@Html.Label("Is this request a Suspension?")
				</span>
				<span class=" col-md-1   text-left">
					<label>Yes</label>
				</span>
				<span class=" col-md-1   text-left">
					@Html.RadioButtonFor(m => m.IsSuspension, true, new { id = "isSuspensionYes", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:-20px;", @disabled = true })
				</span>
				<span class="col-md-1   text-left" style="width:80px;margin-left: -70px;">
					<label>No</label>
				</span>
				<span class="col-md-1   text-left">
					@Html.RadioButtonFor(m => m.IsSuspension, false, new { id = "isSuspensionNo", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:-20px;", @disabled = true })
				</span>
			</div>
		
		</div>
		<hr />
		<div class="container-fluid">
			<div class="row">
				@Html.Label("Is this request for an Advance?") <br />
				<label>Yes</label>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
				@Html.RadioButtonFor(m => m.IsRequestForAdvance, true, new { id = "requestForAdvanceYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-20px;", @disabled = true })
				&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;@Html.Label("(Please submit a signed 9250, 9250a, Executed contract, invoice or purchase order to support the amount being requested in advance)")
				<br /><label>No</label>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.IsRequestForAdvance, false, new { id = "requestForAdvanceNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-20px;", @disabled = true })
				&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;@Html.Label("(Please submit a signed 9250 and 9250a)", new { @style = "margin-left:-6px;" })
			</div>

		</div>
		<hr />
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("How many units does the facility have?")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(Model.NumberOfUnits.ToString(), new Dictionary<string, object>() { { "class", "fieldLabel" } })
					@Html.ValidationMessageFor(m => m.NumberOfUnits)
				</span>
			</div>
		</div>
		<hr />
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Reserve Account Balance")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(Model.ReserveAccountBalance.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" }, { "id", "txtReserveAccountBalance" } })
					@Html.ValidationMessageFor(m => m.ReserveAccountBalance)
				</span>
			</div>
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("as of")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(string.Format("{0:MM/dd/yyyy}", Model.ReserveAccountBalanceAsOfDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
				</span>
			</div>
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Please Verify Reserve Account Balance")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(Model.ConfirmReserveAccountBalance.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" }, { "id", "txtReserveAccountBalanceConfirm" } })
					@Html.ValidationMessageFor(m => m.ConfirmReserveAccountBalance)
				</span>
			</div>
		</div>
		<hr />
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Total Purchase Amount")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(Model.TotalPurchaseAmount.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" }, { "id", "txtPurchaseAmount" } })
					@Html.ValidationMessageFor(m => m.TotalPurchaseAmount)
				</span>
			</div>
		</div>
		<hr />
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Total Requested Amount")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(Model.TotalRequestedAmount.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" }, { "id", "txtRequestedAmount" } })
					@Html.ValidationMessageFor(m => m.TotalRequestedAmount)
				</span>
			</div>
		</div>

		<hr />
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right" style = "width:80px;margin-left:-20px;"
					@Html.Label("Is any single item more than $50,000?")
				</span>
				<span class=" col-md-1   text-left">
					<label>Yes</label>
				</span>
				<span class=" col-md-1   text-left">
					@Html.RadioButtonFor(m => m.IsSingleItemExceedsFiftyThousand, true, new { id = "singleItemYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-20px;", @disabled = true })
				</span>
				<span class="col-md-1   text-left" style="width:80px;margin-left: -70px;">
					<label>No</label>
				</span>
				<span class="col-md-1   text-left">
					@Html.RadioButtonFor(m => m.IsSingleItemExceedsFiftyThousand, false, new { id = "singleItemNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-20px;", @disabled = true })
				</span>
			</div>
		</div>

		<hr />
		<div class="row">
			@Html.Label("Were the Non-Critical Repair items purchased more than 365 days ago?") <br />
			<label>Yes</label>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
			@Html.RadioButtonFor(m => m.IsPurchaseYearOlderThanR4RRequest, true, new { id = "purchaseYearYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-20px;", @disabled = true })
			&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;@Html.Label("(Please submit all invoices, receipts, contracts, pictures, etc)")
			<br /><label>No</label>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.IsPurchaseYearOlderThanR4RRequest, false, new { id = "purchaseYearNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-20px;", @disabled = true })
			<br />
		</div>
		<hr />
		<div class="row">
			<label>Does this R4R request propose remodeling, adding to, subtracting from, reconstructing, or demolishing a portion of the mortgaged project (as discussed further in Asset Management Section 3.4.4 of Handbook 4232, Healthcare Mortgage Insurance)?</label>
			<br />
			<label>Yes</label>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
			@Html.RadioButtonFor(m => m.IsRemodelingProposed, true, new { id = "remodelingYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-20px;", @disabled = true })
			&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;@Html.Label("(Please submit all invoices, receipts, contracts, pictures, etc)")
			<br /><label>No</label>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.IsRemodelingProposed, false, new { id = "remodelingNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-20px;", @disabled = true })
			<br />
		</div>	
	</div>
	<hr />
	<div class="row">
		<span class="col-md-4 text-right">
			@Html.Label("Is release being contemplated to cover mortgage payments on the property?")
		</span>
		<span class=" col-md-1   text-left">
			<label>Yes</label>
		</span>
		<span class=" col-md-1   text-left">
			@Html.RadioButtonFor(m => m.IsMortgagePaymentsCovered, true, new { id = "mortgageCoveredYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-20px;", @disabled = true })
		</span>
		<span class="col-md-1   text-left" style="width:80px;margin-left: -70px;">
			<label>No</label>
		</span>
		<span class="col-md-1   text-left">
			@Html.RadioButtonFor(m => m.IsMortgagePaymentsCovered, false, new { id = "mortgageCoveredNo", @class = "rbFakeClass", @style = "width:80px;margin-left: -20px;", @disabled = true })
		</span>
	</div>
	<hr />
	<div class="container-fluid" id="servicerRemarks">
		<span class="col-md-4 text-right">
			@Html.Label("Servicer Remarks")
		</span>
		<span class="col-md-4">
			@Html.LabelForModel(Model.ServicerRemarks ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
		</span>
	</div>

	<div class="container-fluid" id="hudRemarks">
		<span class="col-md-4 text-right">
			@Html.Label("HUD Remarks")
		</span>
		<span class="col-md-4">
			@Html.LabelForModel(Model.HudRemarks ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
		</span>
	</div>
	<div class="container-fluid" id="addnRemarks">
		<span class="col-md-4 text-right">
			@Html.Label("Additional Remarks")
		</span>
		<span class="col-md-4">
			@Html.LabelForModel(Model.AddnRemarks ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
		</span>
	</div>
	<hr />



	@if (!string.IsNullOrEmpty(Model.FileName9250) || !string.IsNullOrEmpty(Model.FileName9250A)
										 || !string.IsNullOrEmpty(Model.FileNameInvoices) || !string.IsNullOrEmpty(Model.FileNameReceipts)
										 || !string.IsNullOrEmpty(Model.FileNameContracts) || !string.IsNullOrEmpty(Model.FileNamePictures)
										 || !string.IsNullOrEmpty(Model.FileNameOthers))
	{
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-12 text-center">
					@Html.Label("Evidential Information:")
				</span>
			</div>
		</div>
		<hr />
	}
	@if (!string.IsNullOrEmpty(Model.FileName9250))
	{
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("9250  File : ")
				</span>
				<span class="col-md-4" style="text-decoration:underline">
					@*@Html.ActionLink(Model.FileName9250, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.File9250 })*@
					@Html.LabelForModel(Model.FileName9250 ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
				</span>
			</div>
		</div>
	}

	@if (!string.IsNullOrEmpty(Model.FileName9250A))
	{
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("9250A  File : ")
				</span>
				<span class="col-md-4" style="text-decoration:underline">
					@*@Html.ActionLink(Model.FileName9250A, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.File9250A })*@
					@Html.LabelForModel(Model.FileName9250A ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })

				</span>
			</div>
		</div>
	}
	@if (!string.IsNullOrEmpty(Model.FileNameInvoices))
	{
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Invoice  File : ")
				</span>
				<span class="col-md-4" style="text-decoration:underline">
					@*@Html.ActionLink(Model.FileNameInvoices, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.Invoice })*@
					@Html.LabelForModel(Model.FileNameInvoices ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })

				</span>
			</div>
		</div>
	}
	@if (!string.IsNullOrEmpty(Model.FileNameReceipts))
	{
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Receipt  File : ")
				</span>
				<span class="col-md-4" style="text-decoration:underline">
					@*@Html.ActionLink(Model.FileNameReceipts, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.Receipt })*@
					@Html.LabelForModel(Model.FileNameReceipts ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })

				</span>
			</div>
		</div>
	}
	@if (!string.IsNullOrEmpty(Model.FileNameContracts))
	{
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Contract  File : ")
				</span>
				<span class="col-md-4" style="text-decoration:underline">
					@*@Html.ActionLink(Model.FileNameContracts, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.Contract })*@
					@Html.LabelForModel(Model.FileNameContracts ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })

				</span>
			</div>
		</div>
	}
	@if (!string.IsNullOrEmpty(Model.FileNamePictures))
	{
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Picture  File : ")
				</span>
				<span class="col-md-4" style="text-decoration:underline">
					@*@Html.ActionLink(Model.FileNamePictures, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.Picture })*@
					@Html.LabelForModel(Model.FileNamePictures ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })

				</span>
			</div>
		</div>
	}
	@if (!string.IsNullOrEmpty(Model.FileNameOthers))
	{
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Other  File : ")
				</span>
				<span class="col-md-4" style="text-decoration:underline">
					@*@Html.ActionLink(Model.FileNameOthers, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.Other })*@
					@Html.LabelForModel(Model.FileNameOthers ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })

				</span>
			</div>
		</div>
	}
	<div class="container-fluid">
		@if (!string.IsNullOrEmpty(Model.AttachmentsDescription))
		{
			<div class="row" style="margin-top: 15px;" id="descriptionYes">
				<span class="col-md-4 text-right">
					@Html.Label("Please describe")
				</span>
				<span class="col-md-4">
					@*@Html.TextAreaFor(m => m.AttachmentsDescription, new { @style = "height:70px;width:300px;", maxlength = "256", @disabled = true })*@
					@Html.LabelForModel(Model.AttachmentsDescription ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })

				</span>
			</div>
		}
		else
		{
			<div class="row" style="margin-top: 15px;" id="descriptionNo">
				<span class="col-md-4 text-right">
					@Html.Label("Please describe")
				</span>
				<span class="col-md-4">
					@Html.Label("(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
				</span>
			</div>
		}
		@*User Story 1901 - Removed old certification language Read Only*@
		@*<div class="row">
				<span class="col-md-4 text-right">
					<label>I certify that all photos and invoices will be made available for HUD review when requested:</label>
				</span>
				<span>
				</span>
				<span>
					<label> Yes </label>
				</span>
				<span>
					@Html.Label("  (You must agree to this question prior to HUD processing your request)", new {@class="fieldLabel"})
				</span>
			</div>*@

		@*User Story 1901 - Added new disclaimer message with check box Read Only*@
		<hr />
		<div class="container-fluid">
			<div class="row">
				<table>

					<tr>
						<td>
							@Html.CheckBoxFor(m => m.IsAgreementAccepted, new { @class = "rbFakeClass", @style = "width:80px;margin-left:10px", @disabled = true })
						</td>
						<td>
							<label class="required">@Html.DisplayFor(m => Model.DisclaimerText)</label>
						</td>
					</tr>

				</table>

			</div>

		</div>
	</div>
	<hr />
	@*@if (Model.IsLenderPAMReport)
		{
			<div class="row">
				<span class="col-md-4 text-right" style="margin-top: 10px;">
				</span>
				<span class="col-md-4 text-left" style="margin-top: 10px;">
					@Html.ActionLink("Return to Lender PAM Report", "Index", "LenderPAMReport", new { lamIds = ViewData["lamIds"], bamIds = ViewData["bamIds"], larIds = ViewData["larIds"], roleIds = ViewData["roleIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] }, new { style = "text-decoration:underline" })
				</span>
			</div>
		}
		else if (!Model.IsPAMReport)
		{

			<div class="container-fluid">
				<div class="row" style="margin-top: 15px;">
					<span class="col-md-2">
						@if (Model.IsReAssigend.HasValue && Model.IsReAssigend.Value == true)
						{
							<input type="button" value="Back to My Re Assigned Tasks" class="form-control" onclick="location.href = '@Url.Action("MyReAssignmentTasks", "TaskReAssignment", new {page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"]})'" />
						}
						else
						{
							<input type="button" value="Back to My Tasks" class="form-control" onclick="location.href = '@Url.Action("MyTasks", "Task", new {page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"]})'" />
						}
					</span>
					<span class="col-md-4">
					</span>
				</div>
			</div>
		}
		else
		{
			<div class="row">
				<span class="col-md-4 text-right" style="margin-top: 10px;">
				</span>
				<span class="col-md-4 text-left" style="margin-top: 10px;">
					@Html.ActionLink("Return to PAM Report", "Index", "PAMReport", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] }, new { style = "text-decoration:underline" })
				</span>
			</div>
		}*@

</section>